:root {
  --m-header-bg-color: #fff;
  --page-bg-color: #fbfbfb;
  --page-footer-bg-color: #efefef;
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: var(--page-bg-color);
}

.button-clean {
  padding: 2px 3px 2px 3px;
  border: none;
  border-radius: 4px;
  background-color: #eeeeee;
  box-shadow: 1px 2px 5px #00000066;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  text-transform: lowercase;
  text-align: center;
  transition: transform 0.25s, box-shadow 0.25s;
  user-select: none;
}

.button-clean:active {
  box-shadow: -1px 0px 2px #00000033;
  transform: scale(0.9);
}

.footer__contentBox, .header__contentBox {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  align-items: center;
}

.footer__contentBox {
  flex-direction: column;
  justify-content: center;
}

.header__contentBox {
  flex-direction: row;
  justify-content: space-evenly;
}

.link-23 {
  color: #3b3b3b;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  transition: border 0.15s;
}

.link-23:hover {
  --bd-style: 2px solid #3b3b3b;
  padding: 0 2px 0 2px;
  border-left: var(--bd-style);
  border-right: var(--bd-style);
}

.m_title {
  margin: 0;
  color: #000;
  font-family: serif;
  font-weight: 500;
  letter-spacing: 2px;
}

.page__footer {
  background-color: var(--page-footer-bg-color);
}

/* ESPECÍFICOS */

#m_header, #m_content, #m_footer {
  margin: 0 auto;
  max-width: 912px;
  width: 100vw;
  padding: 0;
}

#m_header {
  padding: 2px;
  background-color: var(--m-header-bg-color);
  box-shadow: 0 2px 6px #00000033;
  display: flex;
  align-items: center;
  flex-direction: row;
  z-index: 999;
}

#m_header .header__contentBox {
  justify-content: flex-start;
}

#m_header .m_title {
  margin: 2px 0 2px 2%;
  font-size: 1.7em;
}

#m_content {
  margin: 0 auto 0 auto;
}

#m_footer {
  box-sizing: border-box;
  font-size: 0.9em;
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

#m_footer .footer__contentBox {
  margin: 8px auto 4px auto;
}

/*-----APP-----*/

#app {
  margin: 16px auto 16px auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.app__container0 {
  margin: 0 10px 0 0;
  display: inherit;
  flex-direction: column;
  gap: 8px 0;
}

.app__container1 {
  margin: 0 0 auto 10px;
  display: inherit;
  flex-direction: column;
  justify-content: flex-start;
}

.app__displayBox {
  --size: 48px;
  width: var(--size);
  height: var(--size);
  padding: 1px;
  border-radius: 7px;
  box-sizing: border-box;
  background-color: #a013aa;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app__display {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.7em;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  overflow: auto;
}

.app__buttonBox {
  margin-top: 2%;
}

.app__button {
  --size: 48px;
  width: var(--size);
  height: var(--size);
  background-color: #2ec563;
  color: #fff2f2;
  letter-spacing: 1px;
  transition: transform 0.25s;
}

.app__button:active {
  transform: rotateZ(50deg);
}

.app__configBox {
  margin: 0;
  padding: 6px 0 2px 0;
  width: 128px;
  height: 6.4em;
  border-radius: 6px;
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  font-family: Arial, Helvetica, sans-serif;
}

.app_config__textBox {
  width: 100%;
  margin: 0;
  padding: 1px;
  font-size: 1em;
  text-align: center;
}

.app__letterInput {
  width: 2ch;
  height: 1em;
  border: none;
  border-bottom: 1px solid #cacaca;
  background-color: transparent;
  color: #3b3b3b;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  transition: border 0.25s;
}

.app__letterInput:focus {
  outline: none;
  border-bottom-color: #000;
}