:root {
  --m-header-bg-color: #fff;
  --m-content-bg-color: #fbfbfb;
  --page-footer-bg-color: #efefef;
}

body {
  margin: 0 auto;
  padding: 0;
}

.button-clean {
  padding: 2px 3px 2px 3px;
  border: none;
  border-radius: 4px;
  background-color: #eeeeee;
  box-shadow: 1px 2px 5px #00000066;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  text-transform: lowercase;
  text-align: center;
  transition: transform 0.25s, box-shadow 0.25s;
}

.button-clean:active {
  box-shadow: -1px 0px 2px #00000033;
  transform: scale(0.9);
}

.footer__contentBox, .header__contentBox {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  align-items: center;
}

.footer__contentBox {
  flex-direction: column;
  justify-content: center;
}

.header__contentBox {
  flex-direction: row;
  justify-content: space-evenly;
}

.link-23 {
  color: #3b3b3b;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  transition: border 0.15s;
}

.link-23:hover {
  border-bottom: 2px solid #3b3b3b;
}

.m_title {
  margin: 0;
  color: #000;
  font-family: serif;
  font-weight: 500;
  letter-spacing: 2px;
}

.page__footer {
  background-color: var(--page-footer-bg-color);
}

/* ESPECÍFICOS */

#m_header, #m_content, #m_footer {
  margin: 0 auto;
  max-width: 912px;
  width: 100vw;
  padding: 0;
}

#m_header {
  margin-bottom: 4px;
  padding: 2px;
  background-color: var(--m-header-bg-color);
  box-shadow: 0 2px 6px #00000033;
  display: flex;
  align-items: center;
  flex-direction: row;
  z-index: 999;
}

#m_header .header__contentBox {

}

#m_content {

}

#m_footer {

}

/*-----APP-----*/

#app {

}

.app__displayBox {

}

.app__display {

}

.app__buttonBox {

}

.app__button {

}